<footer id="site-footer" class="footer screen d-print-none">
  
  
  <div id="footer-extras">
  <div class="fulltainer">
  
   <div class="full-width d-flex justify-content-between flex-wrap py-4">
    <nav class="col-md-3 mb-5">
      <div class="col-md-12"><h4 class="h3 mb-4">Contact us</h4></div>
     <div class="col-md-12">
      <ul>
        <li><a href="#">Internal Communications</a></li>
        <li><a href="#">internalcomms@norfolk.gov.uk</a></li>
        <li><a href="#">Feedback form</a></li>
      </ul>
     
      </div>
      </nav>
     
     <div class="col-md-9 d-flex justify-content-between flex-wrap pb-5">
       <div class="col-md-12"><h4 class="h3 mb-4">Keep up to date</h4></div>
       <nav class="col-md-4">
         <ul>
          <li><a href="#">The Friday Takeaway</a></li>
          <li><a href="#">Norfolk Manager</a></li>
          <li><a href="#">Scam alerts from Trading Standards</a></li>
          <li><a href="#">Press releases</a></li>
        </ul>
       </nav>
       <nav class="col-md-4">
         <ul>
          <li><a href="#">Bus times</a></li>
          <li><a href="#">IMT self-service</a></li>
          <li><a href="#">Marketplace</a></li>
          <li><a href="#">Norfolk Rewards</a></li>
           <li><a href="#">Yammer</a></li>
        </ul>
       </nav>
       <nav class="col-md-4">
         <ul>
          <li><a href="#">Email signatures</a></li>
          <li><a href="#">Our style guide</a></li>
          <li><a href="#">Plain English guide</a></li>
          <li><a href="#">Our design guide</a></li>
        </ul>
       </nav>
         
     </div> 
     
     </div>
    </div>
    </div>
  
</footer>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>



  <script src="/scss/scripts/script.js"></script>


