<a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>
<div id="underlay">
  
</div>



<div id="leftMenu">
  <div id="menuheader">
    <div class="d-flex">
      <a href="index.html">iNet</a>
      <button type="button" class="close" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
      
    </div>
    
  </div>
  
  <div id="off-nav">

    <nav>
 <ul class="main-nav d-print-none">
    <li><a href="#">
      <svg viewBox="0 0 24 24">
    <path d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z" />
</svg>
      Home</a></li>
    <li><a href="#">
      <svg viewBox="0 0 24 24">
    <path d="M16.36,14C16.44,13.34 16.5,12.68 16.5,12C16.5,11.32 16.44,10.66 16.36,10H19.74C19.9,10.64 20,11.31 20,12C20,12.69 19.9,13.36 19.74,14M14.59,19.56C15.19,18.45 15.65,17.25 15.97,16H18.92C17.96,17.65 16.43,18.93 14.59,19.56M14.34,14H9.66C9.56,13.34 9.5,12.68 9.5,12C9.5,11.32 9.56,10.65 9.66,10H14.34C14.43,10.65 14.5,11.32 14.5,12C14.5,12.68 14.43,13.34 14.34,14M12,19.96C11.17,18.76 10.5,17.43 10.09,16H13.91C13.5,17.43 12.83,18.76 12,19.96M8,8H5.08C6.03,6.34 7.57,5.06 9.4,4.44C8.8,5.55 8.35,6.75 8,8M5.08,16H8C8.35,17.25 8.8,18.45 9.4,19.56C7.57,18.93 6.03,17.65 5.08,16M4.26,14C4.1,13.36 4,12.69 4,12C4,11.31 4.1,10.64 4.26,10H7.64C7.56,10.66 7.5,11.32 7.5,12C7.5,12.68 7.56,13.34 7.64,14M12,4.03C12.83,5.23 13.5,6.57 13.91,8H10.09C10.5,6.57 11.17,5.23 12,4.03M18.92,8H15.97C15.65,6.75 15.19,5.55 14.59,4.44C16.43,5.07 17.96,6.34 18.92,8M12,2C6.47,2 2,6.5 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
</svg>
      NCC website</a></li>
    <li><a href="#">
      <svg viewBox="0 0 24 24">
    <path d="M22,3H2A2,2 0 0,0 0,5V19A2,2 0 0,0 2,21H22A2,2 0 0,0 24,19V5A2,2 0 0,0 22,3M8,6A3,3 0 0,1 11,9A3,3 0 0,1 8,12A3,3 0 0,1 5,9A3,3 0 0,1 8,6M14,18H2V17C2,15 6,13.9 8,13.9C10,13.9 14,15 14,17V18M17.85,14H19.5L21,16L19,18C17.7,17 16.73,15.61 16.28,14C16.1,13.36 16,12.69 16,12C16,11.31 16.1,10.64 16.28,10C16.73,8.38 17.7,7 19,6L21,8L19.5,10H17.85C17.63,10.63 17.5,11.3 17.5,12C17.5,12.7 17.63,13.37 17.85,14Z" />
</svg>
      Phonebook</a></li>
    <li><a href="#">
      <svg viewBox="0 0 24 24">
    <path d="M4,18V21H7V18H17V21H20V15H4V18M19,10H22V13H19V10M2,10H5V13H2V10M17,13H7V5A2,2 0 0,1 9,3H15A2,2 0 0,1 17,5V13Z" />
</svg>
      Rooms</a></li>
   
    <li><a href="#">
      <svg viewBox="0 0 24 24">
    <path d="M5,3V21H11V17.5H13V21H19V3H5M7,5H9V7H7V5M11,5H13V7H11V5M15,5H17V7H15V5M7,9H9V11H7V9M11,9H13V11H11V9M15,9H17V11H15V9M7,13H9V15H7V13M11,13H13V15H11V13M15,13H17V15H15V13M7,17H9V19H7V17M15,17H17V19H15V17Z" />
</svg>
      Depts</a></li>
  
   
   <li><a href="#">
   <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
<path d="M7 14H11V7H8L7 12V14Z" />
<path d="M6 14H5V12L6 7H4L3 12V14H4V20H20V14H21V12L20 7H18L19 12V14H18V17H6V14Z"/>
<path d="M16 7L17 12V14H13V7H16Z" />
<path d="M20 4H4V6H20V4Z"/>
</svg>
   Marketplace
     </a></li>
   
  </ul>
  </nav>
    
    <nav>
       <ul id="task-cats">
    <li>
      <a href="#">
       <svg style="width:24px;height:24px" viewBox="0 0 24 24">
    <path d="M12,5.5A3.5,3.5 0 0,1 15.5,9A3.5,3.5 0 0,1 12,12.5A3.5,3.5 0 0,1 8.5,9A3.5,3.5 0 0,1 12,5.5M5,8C5.56,8 6.08,8.15 6.53,8.42C6.38,9.85 6.8,11.27 7.66,12.38C7.16,13.34 6.16,14 5,14A3,3 0 0,1 2,11A3,3 0 0,1 5,8M19,8A3,3 0 0,1 22,11A3,3 0 0,1 19,14C17.84,14 16.84,13.34 16.34,12.38C17.2,11.27 17.62,9.85 17.47,8.42C17.92,8.15 18.44,8 19,8M5.5,18.25C5.5,16.18 8.41,14.5 12,14.5C15.59,14.5 18.5,16.18 18.5,18.25V20H5.5V18.25M0,20V18.5C0,17.11 1.89,15.94 4.45,15.6C3.86,16.28 3.5,17.22 3.5,18.25V20H0M24,20H20.5V18.25C20.5,17.22 20.14,16.28 19.55,15.6C22.11,15.94 24,17.11 24,18.5V20Z" />
</svg>
        People</a>
      
    </li>
    
    <li>
      <a href="#">
       <svg style="width:24px;height:24px" viewBox="0 0 24 24">
    <path d="M3 6H21V4H3C1.9 4 1 4.9 1 6V18C1 19.1 1.9 20 3 20H7V18H3V6M13 12H9V13.78C8.39 14.33 8 15.11 8 16C8 16.89 8.39 17.67 9 18.22V20H13V18.22C13.61 17.67 14 16.88 14 16S13.61 14.33 13 13.78V12M11 17.5C10.17 17.5 9.5 16.83 9.5 16S10.17 14.5 11 14.5 12.5 15.17 12.5 16 11.83 17.5 11 17.5M22 8H16C15.5 8 15 8.5 15 9V19C15 19.5 15.5 20 16 20H22C22.5 20 23 19.5 23 19V9C23 8.5 22.5 8 22 8M21 18H17V10H21V18Z" />
</svg>
        Technology</a>
      
    </li>
    
    <li>
      <a href="#">
       <svg style="width:24px;height:24px" viewBox="0 0 24 24">
    <path d="M10,2H14A2,2 0 0,1 16,4V6H20A2,2 0 0,1 22,8V19A2,2 0 0,1 20,21H4C2.89,21 2,20.1 2,19V8C2,6.89 2.89,6 4,6H8V4C8,2.89 8.89,2 10,2M14,6V4H10V6H14Z" />
</svg>
        Working at NCC</a>
      
    </li>
    
    <li>
      <a href="#">
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
    <path d="M15,4A8,8 0 0,1 23,12A8,8 0 0,1 15,20A8,8 0 0,1 7,12A8,8 0 0,1 15,4M15,18A6,6 0 0,0 21,12A6,6 0 0,0 15,6A6,6 0 0,0 9,12A6,6 0 0,0 15,18M3,12C3,14.61 4.67,16.83 7,17.65V19.74C3.55,18.85 1,15.73 1,12C1,8.27 3.55,5.15 7,4.26V6.35C4.67,7.17 3,9.39 3,12Z" />
</svg>
        Finance</a>
      
    </li>
    
    <li>
      <a href="#">
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
    <path d="M20,12V16C20,17.11 19.11,18 18,18H13.9L10.2,21.71C10,21.89 9.76,22 9.5,22H9A1,1 0 0,1 8,21V18H4A2,2 0 0,1 2,16V6C2,4.89 2.9,4 4,4H9.5C8.95,4.67 8.5,5.42 8.14,6.25L7.85,7L8.14,7.75C9.43,10.94 12.5,13 16,13C17.44,13 18.8,12.63 20,12M16,6C16.56,6 17,6.44 17,7C17,7.56 16.56,8 16,8C15.44,8 15,7.56 15,7C15,6.44 15.44,6 16,6M16,3C18.73,3 21.06,4.66 22,7C21.06,9.34 18.73,11 16,11C13.27,11 10.94,9.34 10,7C10.94,4.66 13.27,3 16,3M16,4.5A2.5,2.5 0 0,0 13.5,7A2.5,2.5 0 0,0 16,9.5A2.5,2.5 0 0,0 18.5,7A2.5,2.5 0 0,0 16,4.5" />
</svg>
        Strategy and Comms</a>
      
    </li>
    
    <li>
      <a href="#">
       <svg style="width:24px;height:24px" viewBox="0 0 24 24">
    <path d="M19,2L14,6.5V17.5L19,13V2M6.5,5C4.55,5 2.45,5.4 1,6.5V21.16C1,21.41 1.25,21.66 1.5,21.66C1.6,21.66 1.65,21.59 1.75,21.59C3.1,20.94 5.05,20.5 6.5,20.5C8.45,20.5 10.55,20.9 12,22C13.35,21.15 15.8,20.5 17.5,20.5C19.15,20.5 20.85,20.81 22.25,21.56C22.35,21.61 22.4,21.59 22.5,21.59C22.75,21.59 23,21.34 23,21.09V6.5C22.4,6.05 21.75,5.75 21,5.5V7.5L21,13V19C19.9,18.65 18.7,18.5 17.5,18.5C15.8,18.5 13.35,19.15 12,20V13L12,8.5V6.5C10.55,5.4 8.45,5 6.5,5V5Z" />
</svg>
        Learning and Skills</a>
      
    </li>
    
    <li>
      <a href="#">
       <svg style="width:24px;height:24px" viewBox="0 0 24 24">
    <path d="M3,4H7V8H3V4M9,5V7H21V5H9M3,10H7V14H3V10M9,11V13H21V11H9M3,16H7V20H3V16M9,17V19H21V17H9" />
</svg>
        Security</a>
      
    </li>
  
  
  
  </ul>
      
      
    </nav>
    
    
    
    </div>
    
</div>

<div id="rightMenu" aria-expanded="false">
  <div id="accountHeader">
    <div class="d-flex">
      <div id="profile-picture">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/2238168/account.png" alt="profile image"/>
        
      </div>
      
      <button type="button" class="close" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
      
    </div>
    <p>Martin Whitaker</p>
<p class="account-position">Digital Experience Designer</p>
<p class="account-department">Community and Environmental Services</p>
<p class="account-service">Community Information &amp; Learning</p>
<p class="account-email">martin.whitaker@norfolk.gov.uk</p>
    
    <button type="button" class="btn-danger btn-sm btn-block m-2">Sign out</button>  
    
  </div>
  
  <ul id="account-actions">
    <li>
      <a href="#">
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
    <path d="M21,19V20H3V19L5,17V11C5,7.9 7.03,5.17 10,4.29C10,4.19 10,4.1 10,4A2,2 0 0,1 12,2A2,2 0 0,1 14,4C14,4.1 14,4.19 14,4.29C16.97,5.17 19,7.9 19,11V17L21,19M14,21A2,2 0 0,1 12,23A2,2 0 0,1 10,21" />
</svg>
        Notifications</a>
      
    </li>
    
    <li>
      <a href="#">
       <svg style="width:24px;height:24px" viewBox="0 0 24 24">
    <path d="M20,0H4V2H20V0M4,24H20V22H4V24M20,4H4A2,2 0 0,0 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6A2,2 0 0,0 20,4M12,6.75A2.25,2.25 0 0,1 14.25,9A2.25,2.25 0 0,1 12,11.25A2.25,2.25 0 0,1 9.75,9A2.25,2.25 0 0,1 12,6.75M17,17H7V15.5C7,13.83 10.33,13 12,13C13.67,13 17,13.83 17,15.5V17Z" />
</svg>
        Contacts</a>
      
    </li>
    
    <li>
      <a href="#">
       <svg style="width:24px;height:24px" viewBox="0 0 24 24">
    <path d="M19,19H5V8H19M16,1V3H8V1H6V3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3H18V1M17,12H12V17H17V12Z" />
</svg>
        Calendar</a>
      
    </li>
    
    <li>
      <a href="#">
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
    <path d="M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z" />
</svg>
        Email</a>
      
    </li>
    
    <li>
      <a href="#">
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
    <path d="M20.08,13.64C21.17,13.81 22,14.75 22,15.89C22,16.78 21.5,17.55 20.75,17.92L20.58,18H9.18L9.16,18V18C7.71,18 6.54,16.81 6.54,15.36C6.54,13.9 7.72,12.72 9.18,12.72L9.4,12.73L9.39,12.53A3.3,3.3 0 0,1 12.69,9.23C13.97,9.23 15.08,9.96 15.63,11C16.08,10.73 16.62,10.55 17.21,10.55A2.88,2.88 0 0,1 20.09,13.43L20.08,13.64M8.82,12.16C7.21,12.34 5.96,13.7 5.96,15.36C5.96,16.04 6.17,16.66 6.5,17.18H4.73A2.73,2.73 0 0,1 2,14.45C2,13 3.12,11.83 4.53,11.73L4.46,11.06C4.46,9.36 5.84,8 7.54,8C8.17,8 8.77,8.18 9.26,8.5C9.95,7.11 11.4,6.15 13.07,6.15C15.27,6.15 17.08,7.83 17.3,9.97H17.21C16.73,9.97 16.27,10.07 15.84,10.25C15.12,9.25 13.96,8.64 12.69,8.64C10.67,8.64 9,10.19 8.82,12.16Z" />
</svg>
        OneDrive</a>
      
    </li>
    
    <li>
      <a href="#">
       <svg style="width:24px;height:24px" viewBox="0 0 24 24">
    <path d="M16.36,14C16.44,13.34 16.5,12.68 16.5,12C16.5,11.32 16.44,10.66 16.36,10H19.74C19.9,10.64 20,11.31 20,12C20,12.69 19.9,13.36 19.74,14M14.59,19.56C15.19,18.45 15.65,17.25 15.97,16H18.92C17.96,17.65 16.43,18.93 14.59,19.56M14.34,14H9.66C9.56,13.34 9.5,12.68 9.5,12C9.5,11.32 9.56,10.65 9.66,10H14.34C14.43,10.65 14.5,11.32 14.5,12C14.5,12.68 14.43,13.34 14.34,14M12,19.96C11.17,18.76 10.5,17.43 10.09,16H13.91C13.5,17.43 12.83,18.76 12,19.96M8,8H5.08C6.03,6.34 7.57,5.06 9.4,4.44C8.8,5.55 8.35,6.75 8,8M5.08,16H8C8.35,17.25 8.8,18.45 9.4,19.56C7.57,18.93 6.03,17.65 5.08,16M4.26,14C4.1,13.36 4,12.69 4,12C4,11.31 4.1,10.64 4.26,10H7.64C7.56,10.66 7.5,11.32 7.5,12C7.5,12.68 7.56,13.34 7.64,14M12,4.03C12.83,5.23 13.5,6.57 13.91,8H10.09C10.5,6.57 11.17,5.23 12,4.03M18.92,8H15.97C15.65,6.75 15.19,5.55 14.59,4.44C16.43,5.07 17.96,6.34 18.92,8M12,2C6.47,2 2,6.5 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
</svg>
        Sharepoint</a>
      
    </li>
    
    <li>
      <a href="#">
       <svg style="width:24px;height:24px" viewBox="0 0 24 24">
    <path d="M3,4H7V8H3V4M9,5V7H21V5H9M3,10H7V14H3V10M9,11V13H21V11H9M3,16H7V20H3V16M9,17V19H21V17H9" />
</svg>
        Tasks</a>
      
    </li>
  
  
  
  </ul>
  
  
  
  
  
  
  
</div>


 <!--<a href="#content" class="skiplink">Skip to main content</a>-->
<header id="mainHeader" class="d-flex justify-content-between d-print-none">
 
  
    <div class="fulltainer d-flex">
      
      <button id="menuToggle" class="iconFront">
    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
    <path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
</svg>
    Menu
  </button>
      
      
      <div id="logo">
        <a href="/index.html">
        iNet
          </a>
      </div>
      <div id="search">
        <form action="/search.html"  method="get">
          <input type="text" placeholder="Try 'flex'" aria-label="Search" required="" name="s" id="search-input" pattern="flex"/>
          <input type="submit" value="Search">
          <div id="previoussearch">
          <ul>
            <li><a href="#">Flex leave</a></li>
            <li><a href="#">Flex sheets</a></li>
            <li><a href="#">Flex time</a></li>
            <li><a href="#">Request flex leave</a></li>
            <li><a href="#">Annual leave requests</a></li>
            </ul>
        </div>
        </form>
        
      </div>
      <div id="globalMenu">
        <ul class="d-inline-flex">
          <li><a href="https://www.norfolk.gov.uk/" target="_blank">NCC website</a></li>
          <li><a href="http://directory.norfolk.gov.uk/" target="_blank">Phonebook</a></li>
          <li><a href="http://cabs.nps.norfolk.gov.uk/" target="_blank">Rooms</a></li>
          <li><a href="/Depts/index.html">Depts</a></li>
         
          
          
         </ul>
        
        
        
      </div>
      
      <button id="accountToggle" data-target="#rightMenu">
     <svg style="width:24px;height:24px" viewBox="0 0 24 24">
    <path d="M12,19.2C9.5,19.2 7.29,17.92 6,16C6.03,14 10,12.9 12,12.9C14,12.9 17.97,14 18,16C16.71,17.92 14.5,19.2 12,19.2M12,5A3,3 0 0,1 15,8A3,3 0 0,1 12,11A3,3 0 0,1 9,8A3,3 0 0,1 12,5M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12C22,6.47 17.5,2 12,2Z" />
</svg>

        <span class="user-name">Account</span>
     <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/2238168/account.png"/>
  </button>

    </div>
  
   
</header>

 <nav id="mainNav">
   <div class="fulltainer d-flex justify-content-between">
    <ul class="d-inline-flex w-100 justify-content-between">
      
      <li class="has-children"><a href="/TaskCategories/People/index.html">People</a>
        <div class="childMenu">
          
          <div class="childMenuHeader d-inline-flex justify-content-between">
            <span><a href="/TaskCategories/People/index.html">People</a></span>
            <a href="/TaskCategories/People/index.html">Visit section</a>
          </div>
          
          <div class="topSectionTasks d-inline-flex justify-content-between lightgrey-background col-md-12">
            <div class="col-md-3 task-link">
              <a href="#">Annual leave</a>
            </div>
            <div class="col-md-3 task-link">
              <a href="#">Flex sheets</a>
            </div>
            <div class="col-md-3 task-link">
              <a href="#">Sickness</a>
            </div>
            <div class="col-md-3 task-link">
              <a href="/HumanResources/RecruitmentandNewsStarters/recruitment-and-new-starters.html">New starter</a>
            </div>
            
          </div>
          
           <ul class="d-inline-flex flex-wrap">
             <li><a href="#">Maternity leave policy</a></li>
             <li><a href="#">Claiming mileage</a></li>
             <li><a href="/TaskCategories/People/PayAndReward/payscales.html">Payscales</a></li>
             <li><a href="#">raise a CAR form</a></li>
             <li><a href="#">Preparing for appraisals</a></li>
             <li><a href="#">arrange business travel</a></li>
             <li><a href="#">Booking travel</a></li>
          </ul>
          
        </div>
        
      </li>
      <li class="has-children"><a href="/TaskCategories/Technology/index.html">Technology</a>
        <div class="childMenu">
          
          <div class="childMenuHeader d-inline-flex justify-content-between" style="">
            <span><a href="/TaskCategories/Technology/index.html">Technology</a></span>
            <a href="/TaskCategories/Technology/index.html">Visit section</a>
          </div>
          
          <div class="topSectionTasks d-inline-flex justify-content-between lightgrey-background col-md-12">
            <div class="col-md-3 task-link">
              <a href="#">Raise a Service request</a>
            </div>
            <div class="col-md-3 task-link">
              <a href="#">Print service</a>
            </div>
            <div class="col-md-3 task-link">
              <a href="#">IT staff information</a>
            </div>
            <div class="col-md-3 task-link">
              <a href="#">Raise a CAR form</a>
            </div>
            
          </div>
          <ul class="d-inline-flex flex-wrap">
             <li><a href="#">Cyber awareness</a></li>
             <li><a href="#">Customer support</a></li>
             <li><a href="#">Member support</a></li>
             <li><a href="#">Customer projects</a></li>
             <li><a href="#">Managed print services</a></li>
             <li><a href="#">Management team</a></li>
            <li><a href="#">Technology Improvement programme</a></li>
          </ul>
          
        </div>
      </li>
      <li class="has-children"><a href="/TaskCategories/WorkingAtNCC/index.html">Working at NCC</a>
        <div class="childMenu">
          
          <div class="childMenuHeader d-inline-flex justify-content-between">
            <span><a href="/TaskCategories/WorkingAtNCC/index.html">Working at NCC</a></span>
            <a href="/TaskCategories/WorkingAtNCC/index.html">Visit section</a>
          </div>
          
          <div class="topSectionTasks d-inline-flex justify-content-between lightgrey-background col-md-12">
            <div class="col-md-3 task-link">
              <a href="#">Visitors and car parking</a>
            </div>
            <div class="col-md-3 task-link">
              <a href="#">Job vacancies</a>
            </div>
            <div class="col-md-3 task-link">
              <a href="#">Travel and expenses</a>
            </div>
            <div class="col-md-3 task-link">
              <a href="#">Smarter working</a>
            </div>
            
          </div>
          <ul class="d-inline-flex flex-wrap">
             <li><a href="#">Smarter working</a></li>
             <li><a href="#">Visitors and car parking</a></li>
             <li><a href="#">Travel and expenses</a></li>
             <li><a href="#">Floor managers</a></li>
             <li><a href="#">Job vacancies</a></li>
             <li><a href="#">Norfolk rewards</a></li>
             <li><a href="#">Pool cars</a></li>
            <li><a href="#">Social club</a></li>
          </ul>
          
        </div>
      </li>
      
      <li class="has-children"><a href="/TaskCategories/FinanceAndBudgets/index.html">Finance and Budgets</a>
        <div class="childMenu">
          
          <div class="childMenuHeader d-inline-flex justify-content-between">
            <span><a href="/TaskCategories/FinanceAndBudgets/index.html">Finance and Budgets</a></span>
            <a href="/TaskCategories/FinanceAndBudgets/index.html">Visit section</a>
          </div>
          
          <div class="topSectionTasks d-inline-flex justify-content-between lightgrey-background col-md-12">
            <div class="col-md-3 task-link">
              <a href="#">Buying process</a>
            </div>
            <div class="col-md-3 task-link">
              <a href="#">Invoicing</a>
            </div>
            <div class="col-md-3 task-link">
              <a href="#">Policy and legislation</a>
            </div>
            <div class="col-md-3 task-link">
              <a href="#">Budget management</a>
            </div>
            
          </div>
          <ul class="d-inline-flex flex-wrap">
             <li><a href="#">Buying process</a></li>
             <li><a href="#">Contracts</a></li>
             <li><a href="#">Policy and legislation</a></li>
             <li><a href="#">Controlled entities</a></li>
             <li><a href="#">Budgets</a></li>
             <li><a href="#">Templates</a></li>
            <li><a href="#">Geometric Results International (GRI)</a></li>
          </ul>
          
        </div>
      </li>
      
      <li class="has-children"><a href="/TaskCategories/StrategyAndCommunications/index.html">Strategy and Comms</a>
        <div class="childMenu">
          
          <div class="childMenuHeader d-inline-flex justify-content-between">
            <span><a href="/TaskCategories/StrategyAndCommunications/index.html">Strategy and Comms</a></span>
            <a href="/TaskCategories/StrategyAndCommunications/index.html">Visit section</a>
          </div>
          
          <div class="topSectionTasks d-inline-flex justify-content-between lightgrey-background col-md-12">
            <div class="col-md-3 task-link">
              <a href="#">Internal communications</a>
            </div>
            <div class="col-md-3 task-link">
              <a href="#">Communications toolkit</a>
            </div>
            <div class="col-md-3 task-link">
              <a href="#">Media interactions</a>
            </div>
            <div class="col-md-3 task-link">
              <a href="#">External publications</a>
            </div>
            
          </div>
          <ul class="d-inline-flex flex-wrap">
             <li><a href="#">Who's who</a></li>
             <li><a href="#">Internal publications</a></li>
             <li><a href="#">Media</a></li>
             <li><a href="#">External publications</a></li>
             <li><a href="#">Stakeholder engagement</a></li>
             <li><a href="#">Stakeholder consultation</a></li>
             <li><a href="#">Communications toolkit</a></li>
          </ul>
          
        </div>
      </li>
      
      <li class="has-children"><a href="/TaskCategories/TrainingandSkills/index.html">Learning and skills</a>
        <div class="childMenu">
          
          <div class="childMenuHeader d-inline-flex justify-content-between">
            <span><a href="/TaskCategories/TrainingandSkills/index.html">Learning and skills</a></span>
            <a href="/TaskCategories/TrainingandSkills/index.html">Visit section</a>
          </div>
          
          <div class="topSectionTasks d-inline-flex justify-content-between lightgrey-background col-md-12">
            <div class="col-md-3 task-link">
              <a href="#">Norfolk Development Academy</a>
            </div>
            <div class="col-md-3 task-link">
              <a href="#">Norfolk Social Care Academy</a>
            </div>
            <div class="col-md-3 task-link">
              <a href="#">Contact us</a>
            </div>
            
            
          </div>
          <ul class="d-inline-flex flex-wrap">
             <li><a href="#">Norfolk Development Academy</a></li>
             <li><a href="#">Norfolk Social Care Academy</a></li>
             <li><a href="#">Contact us</a></li>
          </ul>
          
        </div>
      </li>
      
       <li class="has-children"><a href="/TaskCategories/TrainingandSkills/index.html">Security and business continuity</a>
        <div class="childMenu">
          
          <div class="childMenuHeader d-inline-flex justify-content-between">
            <span><a href="/TaskCategories/TrainingandSkills/index.html">Learning and skills</a></span>
            <a href="/TaskCategories/TrainingandSkills/index.html">Visit section</a>
          </div>
          
          <div class="topSectionTasks d-inline-flex justify-content-between lightgrey-background col-md-12">
            <div class="col-md-3 task-link">
              <a href="#">Norfolk Development Academy</a>
            </div>
            <div class="col-md-3 task-link">
              <a href="#">Norfolk Social Care Academy</a>
            </div>
            <div class="col-md-3 task-link">
              <a href="#">Contact us</a>
            </div>
            
            
          </div>
          <ul class="d-inline-flex flex-wrap">
             <li><a href="#">Norfolk Development Academy</a></li>
             <li><a href="#">Norfolk Social Care Academy</a></li>
             <li><a href="#">Contact us</a></li>
          </ul>
          
        </div>
      </li>
      
      <li class="has-children"><a href="/TaskCategories/TrainingandSkills/index.html">Democratic services</a>
        <div class="childMenu">
          
          <div class="childMenuHeader d-inline-flex justify-content-between">
            <span><a href="/TaskCategories/TrainingandSkills/index.html">Learning and skills</a></span>
            <a href="/TaskCategories/TrainingandSkills/index.html">Visit section</a>
          </div>
          
          <div class="topSectionTasks d-inline-flex justify-content-between lightgrey-background col-md-12">
            <div class="col-md-3 task-link">
              <a href="#">Norfolk Development Academy</a>
            </div>
            <div class="col-md-3 task-link">
              <a href="#">Norfolk Social Care Academy</a>
            </div>
            <div class="col-md-3 task-link">
              <a href="#">Contact us</a>
            </div>
            
            
          </div>
          <ul class="d-inline-flex flex-wrap">
             <li><a href="#">Norfolk Development Academy</a></li>
             <li><a href="#">Norfolk Social Care Academy</a></li>
             <li><a href="#">Contact us</a></li>
          </ul>
          
        </div>
      </li>
      
      
      
      
  </ul>
  </div>
</nav>


