{% set title = "Intranet" %}
{% set subtitle = "Norfolk County Council" %}
{% set url = "https://www.norfolk.gov.uk/" %}
{% set splashimg = "https://upload.wikimedia.org/wikipedia/commons/d/d8/The_Wensum_under_trees.JPG" %}
{% set documentation = "" %}
{% set accountname = "Martin Whitaker" %}
{% set accountemail = "martin.whitaker@norfolk.gov.uk" %}
