<!DOCTYPE html>
<html lang="en">
<head>
  {% include "_components/_head.njk" %}
</head>
<body>
  {% include "_components/_header.njk" %}
  <main>
    {% block main %}{% endblock %}
  </main>
  {% include "_components/_footer.njk" %}
</body>
</html>