.flair {color: #fff;
    background-color: #28a745;
    border-color: #28a745;
position: relative; bottom: 4px; border-radius: 6px; line-height: 32px;

  svg {
      width: 32px;
    height: 21px;
    position: relative;
    right: 6px;
    top: 4px;
}


}