.promo-card {
  flex: 1;
  border-radius: 12px;
  padding: 32px;
  position: relative;
  img {}
  .card-info {position: relative; background: #fff;
  width: calc(50% - 32px); border-radius: 6px; padding: 32px;
  box-shadow: 0 16px 40px rgba(0,0,0,0.12) !important;
    display: flex; flex-wrap: wrap;
  }
  
  .button {width: 100%; text-align: center;     margin-top: auto;}
  
  

.flex-wrap {flex-wrap: wrap;} 

@media (max-width: 1200px){
  .card-info {
    width: calc(66.6666% - 32px);
  }
  }
@media (max-width: 1000px) and (min-width: 992px) {
  
  .card-info {
        min-width: calc(100% - 64px);
      }
  
 padding: 32px; margin-bottom: 20px;
  justify-content: center !important;
      .card-info {
        min-width: calc(100% - 64px);
        position: relative;
        top: 0px;
        left: 0px;
        right: auto;
      }
  
}
@media (max-width: 992px){
 // justify-content: center !important;
   margin-bottom: 20px;
      .card-info {
        width: 100% ;
      }
  }
@media (max-width: 768px){
      .card-info {
        min-width: calc(100% - 64px);
      }
  }
@media (max-width: 650px){
  padding: 32px; margin-bottom: 20px;
      .card-info {
        padding: 20px;
        min-width: calc(100%);
        position: relative;
        top: 0px;
        left: 0px;
        right: 0px;

      }
      .card-info.left, .card-info.right {
        left: auto; right: auto;
    }

  }
 
}